.card__genre {
    display: inline-flex;
    font-size: 12px;
    line-height: 15px;
    padding-left: 0;
    margin-bottom: 7px;
    text-decoration: none;
    list-style: none;
}

.card__genre > li {
    margin-left: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background-color: #FAFAFA;
}