.app {
  display: flex;
  flex-direction: column;
  width: 1010px;
  background-color: white;
  min-height: 100%;
}

.app__spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.app-pagination {
  display: flex;
  justify-content: center;
  margin-top: 37px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .app {
    width: 420px !important;
  }
}
